project/build/target/
project/plugins/lib_managed/
project/plugins/project/
project/plugins/src_managed/
project/plugins/target/
target/
lib_managed/
project/boot/
.idea/
project/project.iml
out
logs/*
.*.swp
.*.swo
tags
.idea_modules
test-data
*.class
*~
.ensime
.cache
.classpath
.settings
.project
*.iml
report.xml
